
  <div>
    <p>Aplicação para cadastro e consulta de cards para tradução de palavras e expressões</p>
  </div>

<aside>
    <h4>Outros serviços interessantes: </h4>
    <%= link_to 'Google Translator', 'https://translate.google.com.br/?hl=pt-BR', target: '_blank' %><br />
    <%= link_to 'Babylon', 'http://tradutor.babylon-software.com/', target: '_blank' %>
</aside>

<section>
  <header>
    <h4> <%= link_to "Cards ( #{@cards.count} ) " , cards_path %> </h4>
  </header>
  <ul class="cards">
  <% @cards.each do |card| %>
    <li>
    <%= link_to card.front, card %>
    </li>
  <% end %>
  </ul>
</section>
<hr />
<footer>
  <h3>Create a new Card</h3>
  <%= link_to 'New Card', new_card_path %>
</footer>
