
<%= form_for(@card) do |f|%>
  <div class="field">
    <%= f.label :front %><br />
    <%= f.text_field :front %>
  </div>
  <div class="field">
    <%= f.label :back %><br />
    <%= f.text_field :back %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>

  <div>
    <%=f.submit %>
  </div>
<% end %>
