<!DOCTYPE html>
<html>
  <head>
    <title>Cards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <header>
        <%= image_tag "ruby.png", size: '50x50', class: 'inline' %>
        <h1 class="inline">Cards Application</h1>

      </header>

      <%= yield %>      

    </div>

    <footer class="footer-fixed">
        <p>Desenvolvido por <%= link_to "@cendrao", "https://github.com/cendrao" , target: "_blank" %> no Campus Code (2016)</p>
    </footer>
  </body>
</html>
